# Environment Variables (CRUCIAL: Do not upload API keys)
.env

# Database Files
wallpapers.db
instance/

# Python Cache & Environments
__pycache__/
*.pyc
venv/
env/

# Image Folders (They are in Cloudinary now)
cars/
nature/
space/
anime/
surreal/
minimalist/
cyberpunk/
fluid/